.productCard {
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 85vh;
}

.info {
  position: absolute;
  bottom: 0;
}

img {
  transition: 0.3s ease-in;
}

img:hover {
  transform: scale(1.1);
}

/* .description {
  margin-bottom: 100px;
} */
