.productCard {
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 85vh; */
}

.xxx {
  margin-bottom: 5px;
}

/* .description {
  margin-bottom: 100px;
} */
